##data types and structures questions

In [ ]:
Q1. what are data structures, and why are they important?

In [ ]:
ans. data structures are a way to organize and store data in a computer so that it can be efficiently accessed and manipulated.

In [ ]:
Q2. explain the difference between mutable and immutable data types with example?

In [ ]:
ans. mutable data types - mutable data types are those that can be changed. 
ex. lists, dictionaries, sets
    immutable data types- immutable data types are those that cannot be changed. 
ex. integers, floats, strings, tuples

In [ ]:
Q3. what are the main difference between lists and tuples in python?

In [ ]:
ans. lists are mutable , meaning they can be changed after they are created. tuples are immutable, meaning they immutable,
meaning they cannot be changed after they are created.

In [ ]:
Q4. describe how dictionaries store data?

In [ ]:
ans. dictionaries in python are a type of data structure that stores key-value pairs.
ex- 
    my_dict = {"name" : "john",
               "age" : 30,
               "city" : "new york"}

In [ ]:
Q5. why might you use a set instead of a list in python?

In [ ]:
ans. here are some reasons why you might use a set instead of a list in python:
1- uniqueness
2- faster lookups
3- faster intersection
4- less memory usage
ex. 
my_list = [1,2,2,3,4,4,5]
my_set = {1,2,3,4,5}

In [ ]:
Q6. what is a string in python and how is it different from a list?

In [ ]:
ans. in python, a sting is a sequence of characters, such as letters, numbers, and symbols.
strings are denoted by enclosing the characters in quotes,
either single quotes(') or double quotes(").

In [ ]:
Q7. how do tuples ensure data integrity in python?

In [ ]:
ans. tuples in python are an immutable data structure, which means that once you create a tuple,you cannot change it.
this immutability helps tuples wnsure data integrity.
since tuples are immutable, we get an error message indicating that tuples cannot be changed.
this error message helps ensure data integrity by preventing unauthorized changes to the data.

In [ ]:
Q8. what is a hash table and how does it relate to dictionaries in python?

In [ ]:
ans. a hash table is a data structure that stores key-value pairs,
where keys are unique and values can be of any type.

in python, dictionaries(dict) are a type of hash table.
dictionaries store key-value pairs, where keys are unique and values can be of any type.

In [ ]:
Q9. can lists contain different data types in python?

In [ ]:
ans. yes, in python , lists can contain different data types.
lists are a type of data structure that allows you to store different types of data in a single list.
ex-
    my_list = [1, "hello",3.14,true,[1,2,3]]
print(my_list[0]) 
#1
print(my_list[1])
#"hello"
print(my_list[2])
#3.14

In [ ]:
Q10.explain why strings are immutable in python?

In [ ]:
ans. in python strings are immutable meaning they cannot be changed after they are created.
this is a deliberate design decision, and here are some reasons why strings are immutable:
1- security
2- functionality
3- memory management
4- hashing

In [ ]:
Q11. what advantages do dictionaries offer over lists for certain tasks.

In [ ]:
ans. in python , dictionaries and lists are both usefel for data storage.
                                                       however, dictionaries offer several advantages over lists for certain tasks.
we were used a loop to look up data in the list, while in dictionary,
we've used the key to look up the value.

In [ ]:
Q12. describe a scenario where using a tuple would be preferable over a list?

In [ ]:
ans. a scenario where using a tuple would be preferable over a list is when you need a collection of data 
that is stable and immutable.
ex.- 
days_of_the_week = ("monday", "tuesday", "wednesday", "thurusday","friday", "saturay", "sunday")
in this scenario , using a tuple is more suitable bcz.
the names of the days of the week are immutable.

In [ ]:
Q13. how do sets handle duplicate values in python?

In [ ]:
ans. in python, sets automatically remove duplicate values.
when you add a value to a set that already exists in the set, the set does not add the value again.
ex- 
my_set = { 1,2,2,3,4,4,5}
print(my_set) 
#{1,2,3,4,5}

In [ ]:
Q14.  how does the "in" keyword work differently for lists and dictionaries?

In [ ]:
ans. using "in" with lists:
    in lists, the "in" keyword is used to cheak if a value is present in the list.
    it checks all the values in the list and returns true if the value is found, and false otherwise.
    using "in" with dictionaries:
        in dictionaries , the "in" keyword is used to check if a key is present in the dictionary.
        it checks all the keys in the dictioary and returns true if the key is found,
        and false otherwise.

In [ ]:
Q15. can you modify the elements of a tuple?explain why or why not?

In [ ]:
ans. no, you cannot modify the elements of a tuple.
tuples are an immutable data type, which means that once you create a tuple,
you cannot change its elements.
ex-
my_tuple = (1,2,3)
my_tuple[0] = 10 
error

In [ ]:
Q16. what is a nested dictionary and give an example of its use case?

In [ ]:
ans. a nested dictionary is a dictionary that contains one or more keys whose values are alos dictionaries.
this is a way to define a dictionary within another dictionary.

    nested dictionaries are used when you to represent a complex data structure, such as a person's
information that includes name, address, phone number, and other details.

In [ ]:
Q17. describethe time complexity of accessing elements in a dictionary?

In [ ]:
ans. the time complexity of accessing elements in a dictionary is typically o(1), also known as
"amortized time complexity". this means that the time it takes to access an elements in a sictionary is usually constant,
regardless of the number of elements in the dictionary.
this time complexity is due to the dictionary's hashing technique, which maps a key to a unique location.
when you try to access an element using a key, the dictionary's hash function maps the key to a location where the element is stored.

In [ ]:
Q18. in what situations are lists preferred over dictionaries.

In [ ]:
ans. lists and dictionaries are both useful data structures in python.
however , there are some situations where lists are preferred over dictionaries.
lists are a good choice when you need to store data in a specific order, store duplicate values, or 
modify data dynamically.

In [ ]:
Q19. why are dictionaries considered unordered and how does that affect data retrieval?

In [ ]:
ans.  in python , dictionaries are considered unordred bcz they do not store elements in a specific order.
this means that when you add elements to a dictionary, they are not stored in a particular order.
ex- 
    my_dict = {"name": 'john", "age"; 30, "address": "new york"}
               print(my_dict["name"])
               #jphn
               print(my-dict["age"]) 
               #30

In [ ]:
Q20 explain the difference between a list and a dictionary in terms of data retrival?

In [ ]:
ans.  in python , dictionaries are considered unordered bcz they do not store elements in a specific order.
this means that when you add elemrnts to a dictionary , they are not stored in a paeticular order.
ex - 
    my_list = [1,2,3,4,5]
print(my_list[0])
# 1
my_dict = {"name": "john", "age" : 30 , "address": "new york"}
print(my_dict["name"]) 
#john

In [1]:
## practical questions##

In [ ]:
Q1 . write  a code to create a string with your name and print it.

In [ ]:
ans.

In [3]:
string = " my name is jyoti prajapat"

In [4]:
string

' my name is jyoti prajapat'

In [6]:
type(string)

str

In [ ]:
Q2 . write a code to find the length of the string "hello world".

In [ ]:
ans.

In [7]:
a = "hello world"
len(a)

11

In [ ]:
Q3. write a code to slice the first 3 characters from the string "python programming".

In [ ]:
ans.

In [8]:
string = "python programming"

In [9]:
string[0:3]

'pyt'

In [ ]:
Q4. write a code to convert the string "hello" to uppercase.

In [ ]:
ans.

In [10]:
text = "hello"

In [11]:
text.upper()

'HELLO'

In [ ]:
Q5. write a code to replace the word "apple" with "orange" in the string "i like apple".

In [ ]:
ans.

In [12]:
s = "i like apple"

In [13]:
s.replace ("apple","orange")

'i like orange'

In [ ]:
Q6.  write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
ans.

In [14]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
Q7.  write a code to append the number 10 to the list[1,2,3,4].

In [ ]:
ans.

In [15]:
a = [1,2,3,4]

In [16]:
a.append("10")

In [17]:
a

[1, 2, 3, 4, '10']

In [ ]:
Q8. write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
ans.

In [18]:
a = [1,2,3,4,5]

In [19]:
a.remove(3)

In [20]:
a

[1, 2, 4, 5]

In [ ]:
Q9.  write  a code to access the second element in the list['a','b','c','d'].

In [ ]:
ans.

In [21]:
lis = ['a','b','c','d']

In [23]:
lis[1]

'b'

In [ ]:
Q10.  write a code to reverse the list [10,20,30,40,50].

In [ ]:
ans.

In [24]:
list = [10,20,30,40,50]

In [25]:
list.reverse()

In [26]:
list

[50, 40, 30, 20, 10]

In [ ]:
Q11.  write a code to create a tuple with the elements 10,20,30 and print it.

In [ ]:
ans.

In [27]:
t = (10,20,30)

In [28]:
t

(10, 20, 30)

In [29]:
type(t)

tuple

In [ ]:
Q12.  write a code to access the first element of the tuple('apple','banana','cherry').

In [ ]:
ans.

In [30]:
t = ('apple','banana','cherry')

In [31]:
t[0]

'apple'

In [ ]:
Q13. write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).

In [ ]:
ans.

In [32]:
tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [ ]:
Q14. write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

In [ ]:
ans.

In [34]:
tuple1 = ('dog','cat','rabbit')

In [37]:
tuple1.index('cat')

1

In [ ]:
Q15.  write a code to check if the element "banana" is in the tuple('apple','orange','banana').

In [ ]:
ans.

In [38]:
tuple2 = ('apple','orange','banana')

In [39]:
'banana'in tuple2

True

In [ ]:
Q16. write a code to create a set with the elements1,2,3,4,5 and print it.

In [ ]:
ans.

In [40]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
Q17. write a code to add the element 6 to the set {1,2,3,4}.

In [ ]:
ans.

In [41]:
s = {1,2,3,4}

In [42]:
s.add(6)

In [43]:
s

{1, 2, 3, 4, 6}

In [ ]:
Q18.  write a code to create a tuple with the elements 10,20,30 and print it.

In [ ]:
ans.

In [44]:
t = (10,20,30)

In [45]:
t

(10, 20, 30)

In [ ]:
Q19.  write a code to access the first element of the tuple('apple','banana','cherry').

In [ ]:
ans.

In [46]:
t = ('apple','banana','cherry')

In [47]:
t[0]

'apple'

In [ ]:
Q20. write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).

In [ ]:
ans.

In [32]:
tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [ ]:
Q21. write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

In [ ]:
ans.

In [34]:
tuple1 = ('dog','cat','rabbit')

In [37]:
tuple1.index('cat')

1

In [ ]:
Q22.  write a code to check if the element "banana" is in the tuple('apple','orange','banana').

In [ ]:
ans.

In [38]:
tuple2 = ('apple','orange','banana')

In [39]:
'banana'in tuple2

True

In [ ]:
Q23. write a code to create a set with the elements1,2,3,4,5 and print it.

In [ ]:
ans.

In [40]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
Q24. write a code to add the element 6 to the set {1,2,3,4}.

In [ ]:
ans.

In [41]:
s = {1,2,3,4}

In [48]:
s.add(6)

In [49]:
s

{1, 2, 3, 4, 6}